@charset "UTF-8";

table{
    width: 400px;
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
}

caption{
    background-color: gray;
    border: 1px solid black;
    padding: 10px;
    font-weight: bolder;
    font-size: 20px;
}

thead, th{
    background-color: gray;
    color: white;
}

tbody > tr > td{
    border: 1px solid black;
    padding: 10px;
}