@charset "UTF-8";

body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

table{
    margin: auto;
    border-collapse: collapse;

}

caption{
    font-size: 1.5em;
    font-weight: bold;
}

th, td{
    border: 1px solid black;
    padding: 10px;
}

.vermelho{
    background-color: red;
}

.verde{
    background-color: green;
}

.amarelo{
    background-color: yellow;
}

.azul{
    background-color: blue;
}