@charset "UTF-8";

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
}

table{
    margin: auto;
    border: 1px solid black;
    border-collapse: collapse;
    width: 400px;
}

th{
    padding: 10px;
    border: 1px solid black;
}

td{
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}


thead, tfoot{
    background-color: gray;
    color:white;
}

.num{
    text-align: right;
}