@charset "UTF-8";

table{
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid black;
}

caption{
    font-size: 1.5em;
    font-weight: bold;
}

thead, tfoot{
    background-color: gray;
    color:white;
}

tbody > tr> th, td{

    border: 1px solid black;
    padding: 0px 5px;
}
