@charset "UTF-8";

#container{
    height: 500px;
    background-color: purple;
    position: relative;
    
}

#conteudo{
    height: 200px;
    width: 400px;
    background-color: yellow;
    position: absolute;
    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);
}