@charset "UTF-8";

body{
    /*imagem de fundo*/
    background-image: url(https://gustavoguanabara.github.io/html-css/imagens/mascote.png);

    /*tamanho da imagem*/
    background-size: 100px 100px;
    
    /*repeat-x: a imagem só é repetida na horizontal
      repeat-y: a imagem será repetida na vertical*/
    background-repeat: repeat-x;

}